*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto Mono';
}

main {
  display: grid;
  grid-template-columns: 1fr min(65ch, 100%) 1fr;
  place-items: center;
}

h1 {
  grid-column: 2/3;
}

p {
  grid-column: 2/3;
}

p img {
  height: 24px;
}
