:root {
  --hover: #00a2fff1;
}

body {
  font-family: 'Roboto Mono';
  width: 25rem;
  max-height: 30rem;
  overflow: visible;
}

.hide {
  display: none !important;
}

nav {
  display: flex;
  justify-content: space-around;
}

nav button {
  border: none;
  font-family: inherit;
  font-size: 16px;
  background: none;
  cursor: pointer;
  padding: 0 2.5rem;
}

nav button:hover {
  background: var(--hover);
  color: white;
}

.container {
  display: grid;
  place-items: center;
  margin: 0;
}

.title {
  font-size: 1.2rem;
}

.site-link {
  color: black;
  text-decoration: none;
}

.site-link:hover {
  text-decoration: underline var(--hover);
}

#table-row-click {
  cursor: pointer;
  padding: 0 2.5rem;
}

#table-row-click:hover {
  background: var(--hover);
  color: white;
}
